In [ ]:
#1. Integer (int)>> Converts a value to an integer.
#From Float: Converts a floating-point number to an integer by truncating the decimal part.
float_number = 3.14
int_number = int(float_number)  # int_number is 3

#From String: Converts a numeric string to an integer. The string must be a valid integer representation.
str_number = "42"
int_number = int(str_number)  # int_number is 42

In [3]:
#Example:
print(int(5.9))  
print(int("123"))

5
123

In [4]:
#2. Float (float)>> Converts a value to a floating-point number.
#From Integer: Converts an integer to a float.
int_number = 5
float_number = float(int_number)  # float_number is 5.0

#From String: Converts a numeric string to a float. The string must be a valid float representation.
str_number = "3.14"
float_number = float(str_number)  # float_number is 3.14

In [7]:
#Example:
print(float(10)) 
print(float("2.718"))

10.0
2.718

In [ ]:
#3. String (str)>> Converts a value to a string.
#From Integer: Converts an integer to a string.
int_number = 42
str_number = str(int_number)  # str_number is "42"

#From Float: Converts a floating-point number to a string.
float_number = 3.14
str_number = str(float_number)  # str_number is "3.14"

In [8]:
#Example:
print(str(123)) 
print(str(98.6))

123
98.6

In [ ]:
#4. List (list)>> Converts an iterable (like a string or tuple) to a list.
#From String: Converts a string into a list of characters.
str_value = "hello"
list_value = list(str_value)  # list_value is ['h', 'e', 'l', 'l', 'o']

#From Tuple: Converts a tuple to a list.
tuple_value = (1, 2, 3)
list_value = list(tuple_value)  # list_value is [1, 2, 3]

In [9]:
#Example:
print(list("abc"))  
print(list((1, 2, 3)))

['a', 'b', 'c']
[1, 2, 3]

In [10]:
#5. Tuple (tuple)>> Converts an iterable to a tuple.
#From List: Converts a list to a tuple.
list_value = [1, 2, 3]
tuple_value = tuple(list_value)  # tuple_value is (1, 2, 3)

#From String: Converts a string into a tuple of characters.
str_value = "hello"
tuple_value = tuple(str_value)  # tuple_value is ('h', 'e', 'l', 'l', 'o')

In [11]:
#Example:
print(tuple([1, 2, 3]))  
print(tuple("abc"))

(1, 2, 3)
('a', 'b', 'c')

In [ ]:
#6. Set (set)>> Converts an iterable to a set.
#From List: Converts a list to a set, removing duplicates.
list_value = [1, 2, 2, 3]
set_value = set(list_value)  # set_value is {1, 2, 3}

#From String: Converts a string into a set of characters.
str_value = "hello"
set_value = set(str_value)  # set_value is {'h', 'e', 'l', 'o'}

In [12]:
#Example:
print(set([1, 2, 2, 3])) 
print(set("hello"))

{1, 2, 3}
{'l', 'h', 'e', 'o'}